* {
  margin: 0;
  font-family: Arial;
  border: border-box;
}
.navbar {
  height: 60px;
  background-color: #0f1111;
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
.nav-logo {
  height: 50px;
  width: 110px;
}
.logo {
  background-image: url(amazon_logo.png);
  height: 50px;
  background-size: contain;
  background-repeat: no-repeat;
  width: 100%;
}
.border {
  border: 1px solid transparent;
}
.border:hover {
  border: 1px solid white;
}
/* box2 */
.add-first {
  color: #cccccc;
  font-size: 0.85rem;
  margin-left: 15px;
}
.add-second {
  color: #cccccc;
  font-size: 1rem;
  margin-left: 3px;
}
.add-icon {
  display: flex;
  align-items: center;
}

/* box 3 */
.nav-search {
  display: flex;
  justify-content: space-evenly;
  width: 620px;
  background-color: whitesmoke;
  height: 40px;
  border-radius: 3px;
  border: 1px solid transparent;
}
.nav-search:hover {
  border: 1px solid rgb(230, 179, 85);
}
.search-select {
  background-color: #f3f3f3;
  width: 50px;
  text-align: center;
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
  border: none;
}
.search-input {
  width: 100%;
  font-size: 1rem;
  border: none;
}
.search-icon {
  width: 45px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1rem;
  background-color: rgb(230, 179, 85);
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
  color: #0f1111;
}
/* box-4 */
.nav-language {
  display: flex;
}
.language-icon {
  color: red;
}
.language-icon-first {
  background-color: #0f1111;
  color: white;
}
/* box 5 */
.nav-signin {
  color: #d6d6d6;
  font-size: 12px;
  span {
    color: #ffffff;
  }
}
.signin-account {
  font-size: 14px;
  color: #ffffff;
  font-weight: 700;
}
/* box-6 */
.nav-orders {
  font-size: 12px;
  color: #ffffff;
}
.nav-order1 {
  font-size: 14px;
  color: #ffffff;
  font-weight: 700;
}
/* box-7 */
.nav-cart {
  display: flex;
  flex-direction: row;
}
.nav-cart1 {
  display: flex;
  flex-direction: column;
}
.cart {
  font-size: 0.85rem;
}
.nav-cart i {
  font-size: 30px;
}
.cart-item {
  margin-left: 15px;
  font-size: 16px;
}
/* panel */
.panel {
  background-color: #192635;
  height: 39px;
  color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
.panel-all{
    display: flex;
}
.panel-details {
  display: flex;
  margin: 5px 0px 6px;
  padding: 8px 9px;
  font-size: 14px;
  width: 75%;
  justify-content: flex-start;
  font-weight: 300;
  
}
.panel-details p{
    margin-left: 20px;
}
.panel-shop {
  font-size: 14px;
  display: flex;
  font-weight: 700;
}
/* main-section */
.main{
    background-image: url("hero_img.jpg");
    height: 380px;
    width: 100%;
    background-size: cover;
    display: flex;
    justify-content:center ;
    align-items: flex-end;
    
    
}
.main-caption{
    font-size: 0.85rem;
    color: #0f1111;
    background-color: #f5f6f6;
    width: 960px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 30px;
}
.main-caption a{
    color: #007185;
}
/* boxes */
.shop-section{
    display: flex;
    justify-content: space-evenly;
    background-color: rgb(236, 236, 31);
}
.box{
    height:310px;
    width: 23%;
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    
}
.box h2{
    font-size: 21px;
    margin-left: 20px;
}
.productrow{
    display: flex;
    justify-content: space-evenly;
}
.productrow img{
    height: 100px;
    width: 150px;
}
.captionrow{
    
    display: flex;
    justify-content: space-evenly;
}
.captionrow span{
    font-size: 12px;
}
.box a{
    color: #007185;
    font-size: 13px;
    margin-left: 20px;
}
.productimage img{
    height: 170px;
    width: 280px;
    margin-left: 15px;
}
.box4{
    display: flex;
    flex-direction: column;
    height:310px;
    width: 23%;
    gap: 20px;

}
.box4-img{
    background-image: url("box4-img.jpg");
    width: 308px;
    height: 250px;
    display: flex;
    flex-direction: column;
    
}
.signin-box{
    background-color: white;
}
.signin-box p{
    font-size: 21px;
    font-weight: 700;
}
.signin-box span{
    background-color: rgb(233, 233, 91);
    font-size: 13px;
    border-radius: 4px;
    margin-left: 100px;


}